/*
 * Sass Mixin: Variables
 *
 * @author Stefan Schwartze
 */

$text_gray: #666666
$background_gray: rgb(239,239,244)
$blue: #3559a5
$blue_light: rgb(53,89,165)
$blue_translucent: rgba(73,105,174, 0.75)