.padding
	padding: 5%
.nopadding
	padding: 0 !important
.center
	text-align: center
.max_width_400
	position: relative
	max-width: 400px
	margin: auto
.capitalize
	text-transform: capitalize
.white
	color: white

.badge
	padding: .75em
	background: white
	color: #332
	border-radius: 25px
	padding-left: 0
	margin-right: 1em
	&:hover
		color: black
.no_pic
	padding-left: 1em
