.padding
	padding: 5%
.nopadding
	padding: 0 !important
.center
	text-align: center
.max_width_400
	position: relative
	max-width: 400px
	margin: auto
.capitalize
	text-transform: capitalize
.white
	color: white