/*
 * Main Sass File
 *
 * @author Stefan Schwartze
 */

//@import "compass"
// Base

// Helpers
@import "helpers/variables"
@import "helpers/mixins"

// Layout
@import "layout/header"

html
	position: relative
	margin: 0
	padding: 0
	background: white
	min-height: 100%

// Body
body
	position: relative
	margin: auto
	padding: 0
	font-family: Source Sans Pro
	font-weight: 300
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	color: black
	&.login
		background-image: url(../img/next.jpeg)
		background-size: cover
		background-position: center
	&.dashboard
		background: white

body *
	@include box-sizing(border-box)

a
	text-decoration: none
	border: 0
	outline: 0
	color: $text_gray

.padding
	padding: 5%
.nopadding
	padding: 0 !important
.center
	text-align: center
.max_width_400
	position: relative
	max-width: 400px
	margin: auto
.list
	list-style: none
	padding: 0
	margin: 0
	.list_item
		width: 100%
		border-bottom: solid 1px #aaa
		padding: 1em
		&:first-child
			border-top: solid 1px #aaa
		a:visited, a:focus
			color: $text_gray
		.list_item_title
			margin: 0
			.fa
				margin-right: 10px
.description
	text-overflow: ellipsis
	overflow: hidden
	white-space: nowrap
	margin: 0
	margin-top: 0.5em

.button
	text-align: center
	border: solid 2px
	cursor: pointer
	display: block
	margin-top: 2em
	padding: 1em 1em 1em
	cursor: pointer
	border-radius: 6px
	background: $blue
	color: #fff
	font-family: Roboto
	font-weight: 300
.input
	margin-bottom: 1em
	padding: 1em
	font-weight: bold
	box-shadow: 0 0 0 2px $blue
*:focus
	outline: 0
	box-shadow: 0 0 0 4px #f6cc68
.label, .input, .button
	width: 100%
	font-size: 1em
	border: 0
	border-radius: 3px




.section
	position: relative
	&.login
		padding: 5%
		min-height: 100%
		background: -moz-linear-gradient(top,  rgba(53,89,165,.5) 0%, rgba(125,185,232,0) 100%)
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,89,165,.5)), color-stop(100%,rgba(125,185,232,0)))
		background: -webkit-linear-gradient(top,  rgba(53,89,165,.5) 0%,rgba(125,185,232,0) 100%)
		background: -o-linear-gradient(top,  rgba(53,89,165,.5) 0%,rgba(125,185,232,0) 100%)
		background: -ms-linear-gradient(top,  rgba(53,89,165,.5) 0%,rgba(125,185,232,0) 100%)
		background: linear-gradient(to bottom,  rgba(53,89,165,.5) 0%,rgba(125,185,232,0) 100%)
		color: white
		background-position: fixed
	&.search
		padding: 5%
	.section_header
		position: relative
		height: calc(100% - 64px)
		.map_embed
			position: absolute
			z-index: 0
			top: 0
		.overlay
			position: absolute
			width: 100%
			top: 0
			height: 100%
			z-index: 1
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 75%)
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,0.65)))
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 75%)
			background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 75%)
			background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 75%)
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 75%)
		.section_container_head
			z-index: 2
			position: absolute
			color: white
			bottom: 10%
	.section_container
		margin-left: auto
		margin-right: auto
		max-width: 960px
		width: 100%
		padding: 1em
		&:after
			content: ""
			display: table
			clear: both
		.section_container_title
			font-size: 30px
			font-family: Lato
			small
				font-size: 20px
				font-weight: 300
				.fa
					margin-right: 10px
		.section_container_title_small
			font-size: 24px
			font-family: Lato
			.fa
				margin-right: 20px
	.section_metabox
		.section_metabox_list
			.section_metabox_list_item
				display: inline-table
				padding: 1em
				background: $blue
				color: white
				.fa
					margin-right: 10px
.row
	width: 100%
	position: relative
	float: left
@media only screen and (min-width : 480px)
	.section
		.section_header
			height: 300px
