/* Main Sass File
 *
 * @author Stefan Schwartze
 */
/* Sass Mixin: Variables
 *
 * @author Stefan Schwartze
 */
/* Sass Mixin: Vendor
 *
 * @author Stefan Schwartze
 */
.header {
  position: relative;
  width: 100%;
  padding: 0;
  background-color: #2F9DAB;
  color: white; }
  .header .header_title {
    margin: 0;
    color: white;
    width: auto;
    display: inline-block;
    text-align: center;
    line-height: 1.5em; }
  .header .header_logo {
    float: left;
    margin-right: 20px; }
  .header .header_menu-link {
    margin-left: 20px;
    float: right;
    color: #fff;
    cursor: pointer; }

.dropdown-menu {
  background-color: #FFF;
  display: none;
  /* float: left */
  left: 0;
  list-style: none;
  margin: 0;
  min-width: 160px;
  padding: 5px 0;
  position: relative;
  top: 17px;
  z-index: 1000;
  clear: both;
  display: none;
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0px;
  background: rgba(70, 180, 194, 0.4902);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .dropdown-menu.show {
    transform: translateY(64px);
    display: block; }
  .dropdown-menu .button {
    width: 200px;
    margin-left: auto;
    margin-right: auto; }

html {
  position: relative;
  margin: 0;
  padding: 0;
  background: #efefef;
  min-height: 100%; }

body {
  position: relative;
  margin: auto;
  padding: 0;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black; }
  body.login {
    background-image: url(../img/next.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
    position: absolute;
    width: 100%; }

body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  border: 0;
  outline: 0;
  color: #666666; }

figure.profile-image {
  max-width: 200px;
  float: left; }

img {
  display: block;
  max-width: 100%; }

.fa {
  margin-right: 10px; }

.filter_button {
  float: right;
  margin-right: 0; }
  .filter_button:hover {
    cursor: pointer; }

.filter {
  display: none; }
  .filter.show {
    display: block; }

.padding {
  padding: 5%; }

.nopadding {
  padding: 0 !important; }

.center {
  text-align: center; }

.max_width_400 {
  position: relative;
  max-width: 400px;
  margin: auto; }

.list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list .list_item {
    width: 100%;
    background: none;
    margin-bottom: 20px; }
    .list .list_item a:visited, .list .list_item a:focus {
      color: #666666; }
    .list .list_item a {
      border-radius: 10px;
      display: block;
      background: url(http://designshack.net/images/designs/neat-map-icon.jpg);
      background-size: cover;
      background-position: center; }
    .list .list_item .list_item_title {
      padding: 1em;
      margin: 0;
      background: #2F9DAB;
      color: white;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 10px 10px 0px 0; }
    .list .list_item .list_item_text {
      padding: 0.75em 1em 0.75em 1em;
      margin: 0;
      color: white;
      background: #666;
      background: rgba(0, 0, 0, 0.4); }
      .list .list_item .list_item_text:last-child {
        border-radius: 0 0 10px 10px; }

.description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  margin-top: 0.5em; }

.button {
  text-align: center;
  border: solid 2px;
  cursor: pointer;
  display: block;
  margin-top: 2em;
  padding: 1em 1em 1em;
  cursor: pointer;
  border-radius: 6px;
  background: #2F9DAB;
  color: #fff;
  font-family: Roboto;
  font-weight: 300; }

.input {
  margin-bottom: 1em;
  padding: 1em;
  font-weight: bold; }

*:focus {
  outline: 0;
  box-shadow: 0 0 0 4px #f6cc68; }

.label, .input, .button {
  width: 100%;
  font-size: 1em;
  border: 0;
  border-radius: 3px; }

.section {
  position: relative; }
  .section.content {
    background: #efefef;
    z-index: 2; }
  .section.login {
    padding: 5%;
    min-height: 100%;
    background: -moz-linear-gradient(top, rgba(53, 89, 165, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(53, 89, 165, 0.5)), color-stop(100%, rgba(125, 185, 232, 0)));
    background: -webkit-linear-gradient(top, rgba(53, 89, 165, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
    background: -o-linear-gradient(top, rgba(53, 89, 165, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
    background: -ms-linear-gradient(top, rgba(53, 89, 165, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to bottom, rgba(53, 89, 165, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
    color: white;
    background-position: fixed; }
  .section .section_header {
    position: relative;
    height: 300px;
    max-height: calc(100% - 64px);
    z-index: 2;
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s; }
    .section .section_header.expand {
      height: 600px; }
      .section .section_header.expand .section_container_head {
        margin-top: 0;
        opacity: 0; }
      .section .section_header.expand .map_embed {
        height: 100%; }
      .section .section_header.expand .overlay {
        height: 0;
        opacity: 0; }
      .section .section_header.expand .header-toggle .fa-expand {
        display: none; }
      .section .section_header.expand .header-toggle .fa-compress {
        display: block; }
    .section .section_header .header-toggle {
      color: white;
      position: relative;
      float: right;
      z-index: 12;
      text-shadow: 0px 0px 8px #222; }
      .section .section_header .header-toggle:hover {
        cursor: pointer; }
      .section .section_header .header-toggle .fa-compress {
        display: none; }
    .section .section_header .map_embed {
      position: absolute;
      z-index: 0;
      top: 0;
      height: 120%; }
    .section .section_header .embed_map {
      width: 100%;
      height: 120%; }
    .section .section_header .overlay {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 100%;
      z-index: 1;
      background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      -webkit-transition: all 1s;
      transition: all 1s; }
    .section .section_header .section_container_head {
      z-index: 2;
      position: relative;
      color: white;
      -webkit-transition: all 1s;
      transition: all 1s;
      text-shadow: 0 0 4px #666;
      overflow: hidden; }
      .section .section_header .section_container_head h1 {
        margin-top: 150px;
        float: left; }
  .section .section_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    width: 100%;
    padding: 1em; }
    .section .section_container:after {
      content: "";
      display: table;
      clear: both; }
    .section .section_container .section_container_title {
      font-size: 30px;
      font-family: Lato; }
      .section .section_container .section_container_title small {
        font-size: 20px;
        font-weight: 300; }
        .section .section_container .section_container_title small .fa {
          margin-right: 10px; }
    .section .section_container .section_container_title_small {
      font-size: 24px;
      font-family: Lato; }
      .section .section_container .section_container_title_small .fa {
        margin-right: 20px; }
    .section .section_container .section_container_subtitle {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 400;
      text-align: center; }
  .section .section_metabox {
    position: relative;
    margin: auto;
    max-width: 960px; }
    .section .section_metabox .section_metabox_list .section_metabox_list_item {
      display: inline-block;
      padding: 1em;
      background: #4D5759;
      color: white;
      border-bottom: solid 1px #666;
      font-weight: 400;
      width: 100%; }
      .section .section_metabox .section_metabox_list .section_metabox_list_item .fa {
        margin-right: 10px; }

.row {
  width: 100%;
  position: relative;
  float: left; }

@media only screen and (min-width: 480px) {
  .section .section_header {
    height: 300px; } }
@media only screen and (min-width: 620px) {
  .list .list_item {
    float: left;
    width: 50%;
    padding: 0.75em;
    padding-top: 0; } }
@media only screen and (min-width: 680px) {
  .section .section_metabox .section_metabox_list .section_metabox_list_item {
    width: 33%; } }
@media only screen and (min-width: 960px) {
  .list .list_item {
    float: left;
    width: 33.33%;
    padding: 1em; } }

/*# sourceMappingURL=main.css.map */
