/* Main Sass File
 *
 * @author Stefan Schwartze
 */
/* Sass Mixin: Vendor
 *
 * @author Stefan Schwartze
 */
/* Sass Mixin: Configurations
 *
 * @author Stefan Schwartze
 */
/* Sass Mixin: Variables
 *
 * @author Stefan Schwartze
 */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  border: 0;
  outline: 0; }
