@media only screen and (min-width : 480px)
	.section
		.section_header
			height: 300px
@media only screen and (min-width : 620px)
	.list .list_item
		float: left
		width: 50%
		padding: .75em
		padding-top: 0
@media only screen and (min-width : 680px)
	.section .section_metabox .section_metabox_list .section_metabox_list_item
		width: 33%
@media only screen and (min-width : 960px)
	.list .list_item
		float: left
		width: 33.33%
		padding: 1em