.input
	margin-bottom: 1em
	padding: 1em
	font-weight: bold

	&:focus
		outline: 0
		box-shadow: 0 0 0 4px #f6cc68

.label, .input
	width: 100%
	font-size: 1em
	border: 0
	border-radius: 3px

.filter
	display: none
	&.show
		display: block